<div class="card {{title}}"> <!-- Changes background color of card based on styles created for each card title-->
    <div class="card-data">
        <div class="heading">
            <span>{{title}}</span>
            <img src="assets/images/icon-ellipsis.svg" class="icon-ellipsis" alt="Ellipsis Menu"/>
        </div>
        <div class="data">
            <span class="hours">{{current}}hrs</span>
            <span class="previous">{{pastString}} {{previous}}hrs</span>
        </div>
    </div>
</div>