<div class="card {{title}}"> <!-- Changes background color of card based on styles created for each card title-->
    <div>
        <img src="assets/images/icon-{{title}}.svg" class="icon" /> <!-- grabs svg file based on title of card-->
    </div>
    <div class="card-data">
        <div class="heading">
            <span>{{title}}</span>
            <img src="assets/images/icon-ellipsis.svg" class="icon-ellipsis" />
        </div>
        <div class="data">
            <span class="hours">{{current}}hrs</span>
            <span class="previous">{{pastString}} {{previous}}hrs</span>
        </div>
    </div>
</div>