:host {
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .cards{
    display: flex;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1000px) {
    .main{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90vw;
      height: 85vh;
    }
    .cards{
      height: 100%;
      align-content: space-between;
      justify-content: center;
    }

  }

  @media screen and (min-width: 1200px){
    
    .main{
        height: 80vh;
        width: 80vw;
    }
}

@media screen and (min-width: 1425px){
    
  .main{
      height: 65vh;
      width: 90vw;
  }
}

@media screen and (min-width: 1625px){ 
  .main{
      height: 60vh;
      width: 80vw;
  }
}

@media screen and (min-width: 2000px){ 
  .main{
      width: 64vw;
  }
}

@media screen and (min-width: 2560px){ 
  .main{
      width: 50vw;
  }
}